.menu {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    color: #50b5b5;
    font-size: 22px;
    font-weight: 700;
    
    position: fixed;
    top: 5px;
    left: 10px;
    
    display: flex;
    place-content: center;
    align-items: center;

    cursor: pointer;

}